
.WdateDiv {
    background-color: #fff;
	border-top:1px solid #D0D0D0;
	border-bottom:1px solid #D0D0D0;
    width: 230px;
}
.WdateDiv2 {
    width: 360px;
}
.WdateDiv * {
    font-size: 9pt;
}
.WdateDiv .NavImg a {
    cursor: pointer;
    display: block;
    height: 16px;
    margin-top: 4px;
    width: 16px;
}
.WdateDiv .NavImgll a {
    background: url(time-icon.png) no-repeat scroll -5px -5px  rgba(0, 0, 0, 0);
    float: left;
}
.WdateDiv .NavImgl a {
    background: url(time-icon.png) no-repeat scroll -23px -5px rgba(0, 0, 0, 0);
    float: left;
}
.WdateDiv .NavImgr a {
    background: url(time-icon.png) no-repeat scroll -39px -5px rgba(0, 0, 0, 0);
    float: right;
}
.WdateDiv .NavImgrr a {
    background: url(time-icon.png) no-repeat scroll -57px -5px rgba(0, 0, 0, 0);
    float: right;
}
.WdateDiv #dpTitle {
    background: #EBEBEB;
    height: 24px;
   padding-bottom:2px;
   border-left:1px solid #d0d0d0;
   border-right:1px solid #d0d0d0;

}
.WdateDiv .yminput {
    background-color: transparent;
    border: 0 none;
    color: #333;
    cursor: pointer;
    height: 20px;
    margin-top: 2px;
    text-align: center;
    width: 50px;
}
.WdateDiv .yminputfocus {
    border: 1px solid #939393;
    color: #034c50;
    font-weight: bold;
    height: 20px;
    margin-top: 2px;
    text-align: center;
    width: 50px;
}
.WdateDiv .menuSel {
    background-color: #ffffff;
    border: 1px solid #a3c6c8;
    display: none;
    position: absolute;
    z-index: 1;
}
.WdateDiv .menu {
    background-color: #fff;
    color: #11777c;
    cursor: pointer;
}
.WdateDiv .menuOn {
    background-color: #beebee;
    cursor: pointer;
}
.WdateDiv .invalidMenu {
    color: #aaa;
}
.WdateDiv .YMenu {
    margin-top: 20px;
}
.WdateDiv .MMenu {
    margin-top: 20px;
}
.WdateDiv .hhMenu {
    margin-left: 26px;
    margin-top: -90px;
}
.WdateDiv .mmMenu {
    margin-left: 26px;
    margin-top: -46px;
}
.WdateDiv .ssMenu {
    margin-left: 26px;
    margin-top: -24px;
}
.WdateDiv .Wweek {
    background: none repeat scroll 0 0 #ebebeb;
    border-right: 1px solid #bdebee;
    text-align: center;
}
.WdateDiv .MTitle {
    background-color:#EBEBEB;
    color: #999;
}
.WdateDiv .WdayTable .MTitle td{border-right:0;}
.WdateDiv .WdayTable .MTitle td:last{border-right:1px solid #d0d0d0;}
.WdateDiv .WdayTable2 {
    border: 1px solid #bee9f0;
    border-collapse: collapse;
}
.WdateDiv .WdayTable2 table {
    border: 0 none;
}
.WdateDiv .WdayTable {
    color: #333;
    line-height: 20px;
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	border-collapse:collapse;

}
.WdateDiv .WdayTable td {
    text-align: center;
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	
}
.WdateDiv .Wday {
    cursor: pointer;
}
.WdateDiv .WdayOn {
    background-color: #D0D0D0;
    cursor: pointer;
	color:#fff;
}
.WdateDiv .Wwday {
    color: #CC0000;
    cursor: pointer;
}
.WdateDiv .WwdayOn {
    background-color: #D0D0D0;
    cursor: pointer;
	color:#fff;
}
.WdateDiv .Wtoday {
    color: blue;
    cursor: pointer;
}
.WdateDiv .Wselday {
    background-color: #D0D0D0;
	color:#fff;
}
.WdateDiv .WspecialDay {
    background-color: #66f4df;
}
.WdateDiv .WotherDay {
    color: #999999;
    cursor: pointer;
}
.WdateDiv .WotherDayOn {
    background-color: #D0D0D0;
    cursor: pointer;
	color:#fff;
}
.WdateDiv .WinvalidDay {
    color: #aaa;
}
.WdateDiv #dpTime {
    float: left;
    margin-right: 30px;
    margin-top: 3px;
}
.WdateDiv #dpTime #dpTimeStr {
    color: #497f7f;
    margin-left: 1px;
}
.WdateDiv #dpTime input {
    border: 1px solid #61cad0;
    color: #333;
    height: 20px;
    text-align: center;
    width: 18px;
}
.WdateDiv #dpTime .tB {
    border-right: 0 none;
}
.WdateDiv #dpTime .tE {
    border-left: 0 none;
    border-right: 0 none;
}
.WdateDiv #dpTime .tm {
    border-left: 0 none;
    border-right: 0 none;
    width: 7px;
}
.WdateDiv #dpTime #dpTimeUp {
    background: url("img.gif") no-repeat scroll -32px -16px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 10px;
    width: 13px;
}
.WdateDiv #dpTime #dpTimeDown {
    background: url("img.gif") no-repeat scroll -48px -16px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 10px;
    width: 13px;
}
.WdateDiv #dpQS {
    background: url(time-icon.png) no-repeat scroll -7px -26px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 20px;
    margin-left: 3px;
    margin-top:10px;
    width: 20px;
}
.WdateDiv #dpControl {
    text-align: right;
	background-color:#EBEBEB;
	height:30px;
	border-right:1px solid #d0d0d0;
	border-left:1px solid #d0d0d0;

}
.WdateDiv .dpButton {
	border:0;
	border-radius:3px;margin-right:3px;
    background-color:#C3C3C3;
    color: #666666;
    height: 20px;
    margin-top: 6px;
    width: 45px;
}
